# Node modules
**/node_modules/

# Environment variables
.env

# Expo
**/.expo/
**/.expo-shared/
**/web-build/

# Next.js build
**/.next/
**/out/

# Prisma migrations
**/prisma/migrations/

# Misc
.DS_Store